.experience{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}    

.experience li{
    margin-bottom: 1rem;
}

.experience li .periodo{
    display: flex;
    flex-direction: row;
}

.experience li .periodo::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(/imagens/icons/calendar.svg);
    background-repeat: no-repeat;
    margin-right: .5rem;
    filter: invert(100%);
}